*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

main {
  background-color: #282C35;
  color: #f5f5f5;
}

body {
  background-color: #282C35;
  color: #f5f5f5;
}

@media screen and (min-width: 768px) {
  #container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
  }
  #container02 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    margin-bottom: 80px;
  }
}
main {
  background-color: #282C35;
}
main h1 {
  color: #f5f5f5;
  font-size: 4em;
  font-family: "Peralta", cursive;
  margin-top: 80px;
  color: rgb(228, 74, 74);
}
main .hidden {
  display: none;
}

.header {
  background-image: url(../images/maple03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 1050px;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 25px;
  font-family: "Peralta", cursive;
}

p {
  font-size: 2.5em;
}

.borderColor {
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-bottom: 20px;
}

.box01 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flex-item01 {
  padding: 25px;
}

.arrow {
  z-index: 1;
  margin-bottom: 50px;
  width: 60px;
  height: 30px;
  font-size: 50px;
  transform: scaleY(0.6);
  animation-name: arrow;
  animation-duration: 2s;
  color: #f5f5f5;
  animation-iteration-count: infinite;
}

.arrow h2 {
  margin: 0;
}

@keyframes arrow {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
  }
}
.box03 {
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-around;
}

.box04 {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}

.box05 {
  display: flex;
}

.catButton {
  background-color: #FBFCF8;
  padding: 10px;
  border-radius: 20%;
  height: 67px;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}
.catButton:hover {
  color: #FBFCF8;
  cursor: pointer;
  background-color: rgb(228, 74, 74);
  transform: scale(1.1);
}

.fav-things {
  margin: 25px;
}

.center-img {
  margin: auto;
  display: block;
}

.fav-thing-content {
  animation-name: fav-content-animation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fav-content-animation {
  from {
    margin-left: -3000px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}
.things-desc {
  text-align: left;
  width: 520px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  margin: 20px;
  line-height: 34px;
}

/*# sourceMappingURL=main.css.map */
