main{
    background-color: $main-bg;
    color: $main-colour;
}

body{
    background-color: $main-bg;
    color: $main-colour;

    
    }

    // #container {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: stretch;
    //     margin: 0 auto;
    // }