main {
    display: flex;

    background-color:$main-bg;

    h2{ 
        color:$main-colour;
        font-size: $main-headings;
        font-family: $font-style;
        margin-top: 80px;
    }

    .arrow {
        flex-direction: row;
        align-items: flex-start;

           }
}

