main {
    display: flex;

    background-color:$main-bg;

         h1{ 
            color:$main-colour;
            font-size: $main-headings;
            font-family: $font-style;
            margin-top: 80px;
        }

}

