@media screen and (min-width:768px) {
    // .team-section {
    //     display: grid;
    //     grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    // }

    .container {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
            -webkit-box-pack: center;
               -ms-flex-pack: center;
             justify-content: center; //browser that do not support flexbox
    }
   
    
}